# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [12]:
series1 = pd.Series(np.random.randint(1, high = 5, size = 100, dtype = 'l'))
series2 = pd.Series(np.random.randint(1,high = 4,size = 100, dtype = 'l'))
series3 = pd.Series(np.random.randint(10000,high = 30001,size = 100, dtype = 'l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [15]:
housemkt = pd.concat([series1,series2,series3],axis = 1)

In [16]:
housemkt

    0  1      2
0   4  3  26473
1   3  2  15743
2   2  3  10027
3   2  2  23858
4   4  3  22644
.. .. ..    ...
95  1  2  15835
96  1  3  29834
97  3  3  15450
98  1  2  16723
99  3  2  26012

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [18]:
housemkt.rename(columns = {0:'bedrs',1:'baths',2:'price_sqr_meter'},inplace = True)
housemkt.head()

   bedrs  baths  price_sqr_meter
0      4      3            26473
1      3      2            15743
2      2      3            10027
3      2      2            23858
4      4      3            22644

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [19]:
bigcolumn = pd.concat([series1, series2, series3], axis=0)

In [21]:
bigcolumn = bigcolumn.to_frame()

In [22]:
bigcolumn

        0
0       4
1       3
2       2
3       2
4       4
..    ...
95  15835
96  29834
97  15450
98  16723
99  26012

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [23]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [24]:
bigcolumn.reset_index(drop=True, inplace=True)

In [25]:
bigcolumn

         0
0        4
1        3
2        2
3        2
4        4
..     ...
295  15835
296  29834
297  15450
298  16723
299  26012

[300 rows x 1 columns]